@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}
ul, ol {
    margin: 0;
    padding: 0;
}
:root {
    --blue:#053f69;
    --orange:#f63d45;
}
body {
    background: #fff;
    font-family: 'League Spartan', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--blue) !important;
}

/*======= header-top-bar ========*/
.latest-news-top-section {
    background: var(--blue);
}
.head-news {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    line-height: 1em;
}
.head-news p {
    margin: 0px;
}
.head-news span {
    color: var(--orange);
    text-transform: uppercase;
    margin-right: 8px;
}
/*====== /header-top-bar ========*/