@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}
ul, ol {
    margin: 0;
    padding: 0;
}
:root {
    --blue:#053f69;
    --orange:#f63d45;
}
body {
    background: #fff;
    font-family: 'League Spartan', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--blue) !important;
}

/*======= header-top-bar ========*/
.latest-news-top-section {
    background: var(--blue);
}
.head-news {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    line-height: 1em;
    height: 100%;
}
.head-news p {
    margin: 0px;
}
.head-news span {
    color: var(--orange);
    text-transform: uppercase;
    margin-right: 8px;
}
.head-search form.search-form {
    display: flex;
    align-items: center;
    justify-content: end;
}
input#search-field {
    width: 100%;
}
.head-search input {
    background: #2a5c7f !important;
    color: #000;
    border: none !important;
    height: 46px !important;
    padding: 10px !important;
    margin: 0;
    font-size: 14px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
/*====== /header-top-bar ========*/