@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}
ul, ol {
    margin: 0;
    padding: 0;
}
:root {
    --blue:#053f69;
    --orange:#f63d45;
}
body {
    background: #fff;
    font-family: 'League Spartan', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--blue) !important;
    font-weight: bold !important;
}
h1 {
    font-size: 2.6rem !important;
}
h3 {
    font-size: 28px;
}

/*======= header-top-bar ========*/
.site-header {
    position: sticky !important;
    top: 0;
}
.latest-news-top-section {
    background: var(--blue);
}
.head-news {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    line-height: 1em;
    height: 100%;
}
.head-news p {
    margin: 0px;
}
.head-news span {
    color: var(--orange);
    text-transform: uppercase;
    margin-right: 8px;
}
.head-search form.search-form {
    display: flex;
    align-items: center;
    justify-content: end;
}
input#search-field {
    width: 100%;
    color: #fff;
}
input#search-field::placeholder {
    color: rgba(255,255,255,0.5);
}
.head-search input {
    background: #2a5c7f !important;
    color: #000;
    border: none !important;
    height: 46px !important;
    padding: 10px !important;
    margin: 0;
    font-size: 14px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
button.search-submit {
    background: #2a5c7f !important;
    color: rgba(255,255,255,0.4);
    border: none !important;
    height: 46px !important;
    padding: 10px !important;
    margin: 0;
    font-size: 14px;
}
button.search-submit:hover {
    color: #fff;
    transition: all ease-in-out 0.3s;
}
.ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item:last-child a {
    padding: 0;
}
/*====== /header-top-bar ========*/

/*=========== banner ================*/
.banner-section {
    /* background-image: linear-gradient(190deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0 150px 0;
    color: #fff;
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner-section::before {
    content: '';
    background-image: linear-gradient(190deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 0;
}
.banner-section .banner-content {
    z-index: 1;
}
.banner-section img {
    display: none;
}
.bnr-title {
    font-size: 78px !important;
    font-weight: bold;
    color: var(--orange) !important;
    line-height: 1.2em;
}
.bnr-subtitle {
    font-size: 36px;
    letter-spacing: 1px;
    color: #fff;
}
.btn.btn-primary {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0;
    background: var(--orange);
    border: none;
    padding: 14px 20px 12px;
    letter-spacing: 1px;
}
.btn.btn-primary:hover {
    background: var(--blue);
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.btn.btn-default {
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0;
    background: var(--blue);
    border: none;
    padding: 14px 20px 12px;
    letter-spacing: 1px;
    color: #fff;
}
.btn.btn-default:hover {
    background: var(--orange);
    color: #fff;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.banner-section h4 {
    color: #fff !important;
    letter-spacing: 2px;
    font-weight: 400 !important;
    margin-bottom: 1%;
}
.banner-section p {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 1.4em;
    margin-bottom: 25px;
}
/*========== /banner ================*/

/*=========== services-block ================*/
.services-block {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px #d4d4d4;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    top: -120px;
    border-radius: 8px;
}
.services-block h3 {
    font-size: 32px;
    position: relative;
    padding-bottom: 25px;
}
.services-block h3:after {
    content: '';
    width: 63px;
    height: 5px;
    background: var(--orange);
    position: absolute;
    left: 0;
    bottom: 0;
}
.services-post {
    flex-basis: 30.333%;
    position: relative;
}
.services-featured-image {
    background: #000;
    border-radius: 4px;
    overflow: hidden;
}
.services-post img {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
    opacity: 0.6;
    object-fit: cover;
}
.services-post h2 {
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    bottom: 20px;
    text-align: center;
    line-height: 1.4em;
    z-index: 9;
}
.services-post h2 a {
    color: #fff !important;
}
.services-post p {
    margin: 0;
}
/*========== /services-block ================*/

/*================latest-news-section================*/
.most-popular-block .title {
    position: relative;
    margin-bottom: 3%;
    line-height: 1.7em;
}
.most-popular-block .title:after {
    content: '';
    width: 97%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background: #d7d7d7;
    margin: 0 auto;
    right: 0;
}
.most-popular-block .small-title {
    position: relative;
    margin: 8% 0 3% 0;
    vertical-align: bottom;
    line-height: 1.7em;
}
.most-popular-block .small-title:after {
    content: '';
    width: 95%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background: #d7d7d7;
    margin: 0 auto;
    right: 0;
}
.team-members-block {
    background: #f2f2f2;
    padding: 80px 0;
}
.team-members-block .section-sm-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--orange);
    margin-bottom: 10px;
}
.section-title {
    margin-bottom: 3%;
    position: relative;
    padding-bottom: 10px;
}
.section-title:after {
    content: '';
    height: 2px;
    width: 126px;
    background: var(--orange);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.member-image img {
    border-radius: 50%;
}
.member-image {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--orange);
    overflow: hidden;
    margin: 5% 0;
}
.single-team-member {
    text-align: center;
}
.single-team-member .other-details {
    color: var(--orange);
    font-size: 18px;
}
.news-single-block {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 0;
}
.news-single-block h4 {
    font-size: 14px;
    color: #000;
    font-weight: 500 !important;
}
.news-single-block p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500 !important;
}
.news-single-block p a {
    color: #000;
}
.sidebar-img {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
}
.sidebar-img img {
    object-fit: cover;
    height: 100%;
}
.side-fpost {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
    align-items: center;
}
.side-fpost-discription h2 {
    font-size: 16px;
}
.side-fpost-discription h2 a {
    color: #000;
}
.side-fpost-img {
    width: 100%;
    height: 100%;
    min-width: 170px;
    max-width: 170px;
    max-height: 170px;
    min-height: 170px;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 6px;
}
.side-fpost-img img {
    width: 200px;
    height: 177px;
    object-fit: cover;
}
.side-fpost-discription p {
    margin: 0;
}
.featured-post-discription {
    position: absolute;
    bottom: 20px;
}
.featured-post-discription p {
    margin: 0;
    color: var(--orange);
    padding: 0 20px;
}
.featured-post-discription h2 {
    font-size: 20px;
    padding: 0 20px;
    color: #fff;
    margin-bottom: 1.5%;
}
.featured-post-discription h2 a {
    color: #fff;
}
.featured-post {
    position: relative;
}
.featured-post-img {
    background: #000;
    border-radius: 6px;
    overflow: hidden;
}
.featured-post-img img {
    opacity: 0.7;
}
.static-post {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}
.static-post-discription h2 {
    font-size: 16px;
    color: #000;
    line-height: 20px;
}
.static-post-discription h2 a {
    color: #000;
}
.static-post-img {
    flex-basis: 37%;
    border-radius: 6px;
    overflow: hidden;
}
.static-post-discription {
    flex-basis: 57%;
}
p.post-date {
    color: var(--orange);
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
}
/*===============/latest-news-section================*/

/*=================== footer =====================*/
footer {
    background: var(--blue);
    text-align: center;
    color: #fff;
}
.copyright {
    padding: 13px 0;
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: 13px;
}
.social-links {
    margin-top: 2%;
}
.social-links a {
    font-size: 26px;
    padding: 0px 5px;
}
.social-links a:hover {
    color: #fff;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
/*================== /footer =====================*/

/*------ about-us ------*/
.inner-bnr {
    max-height: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    position: relative;
}
.inner-bnr .breadcrumbs {
    position: absolute;
    top: 25px;
    color: var(--orange);
    font-size: 18px;
}
.inner-bnr .breadcrumbs i {
    font-size: 13px;
    margin: 0 3px;
    color: #ffff;
}
.inner-bnr .breadcrumbs a {
    color: #fff;
}
.inner-bnr .page-title h3 {
    font-size: 62px;
    color: #fff !important;
}
.inner-bnr .page-title {
    margin: 0 !important;
}
.inner-bnr.about-bnr {    
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-bnr .bnr-simg {
    position: absolute;
    top: 80px;
    animation: moveUpDown 3s linear infinite;
    -webkit-animation: moveUpDown 3s linear infinite;
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
}
  }
  .image-group {
    position: relative;
}
.image-group img:last-child {
    position: absolute;
    right: 20px;
    top: 50px;
}
.track-record-section {
    background: #f7f7f7;
    padding: 60px 0;
}
.track-div {
    background: #fff;
    text-align: center;
    padding: 40px 15px;
}
.track-div h4 {
    font-size: 20px;
    color: #333 !important;
}
.track-div .fa-circle-check {
    font-size: 52px;
    color: var(--orange);
    margin-bottom: 7%;
}
.track-record-section .subtitle {
    font-size: 20px;
    margin-bottom: 0;
}
/*----- /about-us ------*/

/*----- services-page -----*/
.inner-bnr.services-bnr {
    
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*---- /services-page -----*/

/*----- services-page -----*/
.inner-bnr.team-bnr {
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}
/*---- /services-page -----*/

/*----- our-team-page -----*/
.member-image-square {
    width: 100%;
    height: 360px;
    overflow: hidden;
    border-radius: 6px;
}
.member-image-square img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.member-info {
    background: #fff;
    box-shadow: 0px 1px 10px 0px #e7e7e7;
    width: 88%;
    margin: 0 auto;
    position: relative;
    top: -40px;
    padding: 20px 10px;
    border-radius: 6px;
}
.member-info p {
    margin: 0;
}
.member-info p.other-details {
    margin: 1% 0 3.5% 0;
}
.member-info .bio a {
    font-weight: bold;
    color: var(--blue);
}
.member-info .bio a:hover {
    color: var(--orange);
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}
.member-info .bio a::after {
    content: '\2192';
    font-size: 24px;
    font-weight: bold;
    margin-left: 2%;
}


.single-inner-bnr {
    background: #f2f2f2;
    padding: 30px 0;
}
.single-inner-bnr .breadcrumbs a {
    color: #333;
}
.single-inner-bnr .breadcrumbs span.separator {
    font-size: 10px;
    margin: 0 5px;
}
.single-inner-bnr .breadcrumbs span.current {
    color: var(--orange);
}
.single-inner-bnr .page-title {
    margin: 0;
}
.single-member-info {
    flex-basis: 70%;
    text-align: left;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 1px 2px 5px #f2f2f2;
}
.single-team-mem-content .-single-member-image {
    flex-basis: 30%;
    background: #fff;
    padding: 15px;
    box-shadow: 1px 1px 2px 5px #f2f2f2;
}
.single-team-mem-content .-single-member-image img {
    border-radius: 4px;
    margin-bottom: 4%;
}
.single-team-mem-content {
    display: flex;
    gap: 20px;
}
.single-member-info .other-details {
    font-size: 20px;
    margin-bottom: 1em;
}
.single-member-info p {
    margin-bottom: 1em;
}
.single-inner-bnr .breadcrumbs {
    margin-bottom: 15px;
}
.single-member-info p:last-child {
    margin-bottom: 0px;
}
.single-member-info .other-details {
    font-size: 20px;
}
.-single-member-image p {
    margin: 7px 0;
    font-size: 18px;
    color: #333;
    text-align: left;
    background: #f2f2f2;
    padding: 8px;
}
.-single-member-image p .fa {
    color: #fff;
    margin-right: 6px;
    vertical-align: middle;
    background: var(--orange);
    padding: 8px;
    border-radius: 50px;
    font-size: 14px;
}
.-single-member-image p a {
    color: #333;
}
/*---- /our-team-page -----*/

/*---- contact-page -----*/
.inner-bnr.contact-bnr {
    
    background-position: 100% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}
ul.contact-social-links {
    margin: 0;
}
ul.contact-social-links li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 16px;
}
ul.contact-social-links li a i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: var(--orange);
    color: #fff;
    border-radius: 3px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
ul.contact-social-links li a:hover i {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}
/*--- /contact-page -----*/