/*================================== media-queries ==================================*/
@media screen and (max-width: 1199px) and (min-width:992px) {
    .bnr-title {
        font-size: 62px !important;
    }
    .ast-builder-menu-1 .menu-item > .menu-link {
        font-size: 14px !important;
    }
    .main-header-menu .menu-link, .main-header-menu>a {
        padding: 0 0.5em !important;
    }
    .site-navigation .btn.btn-default {
        padding: 11px 12px 8px;
    }
    .site-navigation .btn.btn-primary {
        padding: 11px 12px 8px;
    }
    .side-fpost-img {
        min-width: 120px;
        max-width: 120px;
        max-height: 120px;
        min-height: 120px;
    }
    .side-fpost {
        align-items: start;
    }
    .sidebar-img {
        max-width: 70px;
        min-width: 70px;
        max-height: 70px;
        min-height: 70px;
    }
    .most-popular-block .small-title {
        margin: 14% 0 3% 0;
        font-size: 22px;
    }
}
@media screen and (max-width: 1130px) and (min-width:769px) {
    .inner-bnr .bnr-simg {
        position: relative;
    }
    .row.page-banner {
        height: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 991px) and (min-width:769px) { 
    .bnr-title {
        font-size: 58px !important;
    }
    .side-fpost {
        gap: 13px;
        flex-wrap: wrap;
    }
    .news-single-block {
        gap: 5px;
        flex-wrap: wrap;
    }
    .side-fpost-img {
        width: 100%;
        height: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .mobile-btns {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .most-popular-block .small-title {
        margin: 0% 0 3% 0;
    }
    .ast-desktop .ast-primary-header-bar .main-header-menu > .menu-item {
        line-height: 40px !important;
    }
    .ast-builder-menu-1 .menu-item > .menu-link {
        font-size: 14px !important;
    }
    .main-header-menu .menu-link, .main-header-menu>a {
        padding: 0 0.5em !important;
    }
    .site-navigation .btn.btn-default {
        padding: 11px 12px 8px;
    }
    .site-navigation .btn.btn-primary {
        padding: 11px 12px 8px;
    }
}
@media screen and (max-width: 921px) and (min-width:320px) {
    button.navbar-toggler-custom {
        background: transparent;
        border: 2px solid var(--blue) !important;
        padding: 6px 5px 4px 5px;
        border-radius: 6px;
        color: var(--blue);
        font-size: 18px;
    }
    span.navbar-toggler-icon {
        height: auto;
    }
    div#mobileNav {
        width: calc(100% - 18%);
    }
    button.btn-close.text-reset {
        position: absolute;
        right: -50px;
        opacity: 1;
        width: auto;
        height: auto;
        font-size: 16px;
        filter: brightness(0) invert(1);
        top: 20px;
    }
    button.btn-close.text-reset:focus {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        box-shadow: none;
    }
    .ast-main-header-wrap.main-header-bar-wrap {
        background: #fff;
    }
    div#mobileNav .offcanvas-body nav.navbar .navbar-nav {
        margin: 0;
    }
    div#mobileNav .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        position: relative;
        border-bottom: 1px solid #dfdfdf;
    }
    div#mobileNav .offcanvas-body nav.navbar .menu-primary-container {
        width: 100%;
    }
    div#mobileNav .offcanvas-body {
        padding: 0.5rem 0.3rem;
    }
    div#mobileNav .offcanvas-body nav.navbar .navbar-nav li {
        border-bottom: 1px solid #dfdfdf;
        padding: 5px;
    }
    div#mobileNav .offcanvas-body nav.navbar .navbar-nav li a {
        color: #333;
    }
}
@media screen and (max-width: 768px) and (min-width:320px) {    

    h1,
    .entry-content h1 {
        font-size: 30px !important;
    }

    .main-header-bar-navigation.toggle-on {
        position: absolute;
        border-top: 2px solid var(--orange);
        height: 100%;
    }

    .bnr-title {
        font-size: 34px !important;
        line-height: 1.2em;
    }

    .banner-section p {
        font-size: 26px;
    }

    .banner-section {
        height: calc(100vh - 40vh);
        padding: 50px 15px;
    }

    .banner-section::before {
        height: calc(100vh - 40vh);
    }

    .services-block h3 {
        font-size: 28px;
        padding-bottom: 14px;
        margin-bottom: 6%;
    }

    .services-block h3 {
        text-align: center;
        width: 100%;
    }

    .services-block {
        flex-wrap: wrap;
        margin: 10% 0;
        box-shadow: 0px 0px 10px 1px #d4d4d4;
    }

    .services-post {
        flex-basis: 100%;
    }

    .services-block h3:after {
        right: 0;
        margin: 0 auto;
    }

    .services-post img {
        min-height: 216px;
        max-height: 216px;
    }

    .services-block {
        top: 0;
        margin: 10% 0;
    }

    .most-popular-block .title {
        font-size: 28px !important;
    }
    .featured-post-img {
        height: 250px;
    }

    .static-post-img {
        flex-basis: auto;
        border-radius: 6px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        min-width: 165px;
        max-width: 165px;
        max-height: 165px;
        min-height: 165px;
        overflow: hidden;
        border-radius: 6px;
    }

    .static-post-img img {
        object-fit: cover;
        width: 200px;
        height: 165px;
    }

    .mobile-btns {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .mobile-btns a {
        font-size: 13px;
    }

    .ast-mobile-header-wrap .ast-button-wrap .menu-toggle.main-header-menu-toggle {
        border: 1px solid var(--blue);
        border-radius: 4px;
    }

    .single-team-member.col-md-3 {
        display: none;
    }

    .logo {
        margin-bottom: 1% 0;
        max-width: 40%;
    }

    footer .py-5 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    /*----- about-page -----*/
    .inner-bnr {
        max-height: 200px;
        min-height: 200px;
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 30px;
    }

    .inner-bnr .page-title h3 {
        font-size: 42px;
    }

    .inner-bnr .bnr-simg {
        display: none;
    }

    .image-group {
        margin-bottom: 23%;
    }

    .image-group img:last-child {
        top: 60px;
        right: 0;
    }

    .track-record-section {
        padding: 10px 0;
    }

    .single-team-mem-content {
        gap: 15px;
        flex-wrap: wrap;
    }

    .single-team-mem-content .-single-member-image {
        flex-basis: 100%;
    }

    .single-member-info {
        flex-basis: 100%;
    }
    .track-div h4 {
        word-break: break-all;
    }
    /*---- /about-page -----*/
    .single-news {
        position: relative;
        margin: 5% 0;
    }
    /*------ polls-page -----*/
    .news-block.col-md-4 {
        margin: 4% 0;
    }
    .highlight-post {
        flex-wrap: wrap;
    }
    .highlight-post .news-block {
        flex-basis: 100%;
    }
    .highlight-post .news-block-content {
        flex-basis: 100%;
        padding: 20px;
    }
    .post-filter-form {
        gap: 10px;
        flex-wrap: wrap;
    }
    .post-fields:nth-child(1) {
        flex-basis: 100%;
    }
    .post-fields {
        flex-basis: 48%;
    }
    .post-fields:last-child {
        flex-basis: 100%;
    }
    /*----- /polls-page -----*/
    .-single-poll-image .news-image {
        max-height: 280px;
        min-height: 280px;
    }
    .share-social-icons .social-links a {
        font-size: 28px;
        margin: 3px;
    }
}

/*================================= /media-queries ==================================*/