/*================================== media-queries ==================================*/
@media screen and (max-width: 921px) and (min-width:320px) {
    button.navbar-toggler-custom {
        background: transparent;
        border: 2px solid var(--blue) !important;
        padding: 6px 5px 4px 5px;
        border-radius: 6px;
        color: var(--blue);
        font-size: 18px;
    }
    span.navbar-toggler-icon {
        height: auto;
    }
    div#mobileNav {
        width: calc(100% - 18%);
    }
    button.btn-close.text-reset {
        position: absolute;
        right: -50px;
        opacity: 1;
        width: auto;
        height: auto;
        font-size: 16px;
        filter: brightness(0) invert(1);
        top: 20px;
    }
    .ast-main-header-wrap.main-header-bar-wrap {
        background: #fff;
    }
    div#mobileNav .offcanvas-body nav.navbar .navbar-nav {
        margin: 0;
    }
    div#mobileNav .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        position: relative;
        border-bottom: 1px solid #dfdfdf;
    }
    div#mobileNav .offcanvas-body nav.navbar .menu-primary-container {
        width: 100%;
    }
    div#mobileNav .offcanvas-body {
        padding: 0.5rem 0.3rem;
    }
    div#mobileNav .offcanvas-body nav.navbar .navbar-nav li {
        border-bottom: 1px solid #dfdfdf;
        padding: 5px;
    }
    div#mobileNav .offcanvas-body nav.navbar .navbar-nav li a {
        color: #333;
    }
}
@media screen and (max-width: 768px) and (min-width:320px) {    

    h1,
    .entry-content h1 {
        font-size: 30px !important;
    }

    .main-header-bar-navigation.toggle-on {
        position: absolute;
        border-top: 2px solid var(--orange);
        height: 100%;
    }

    .bnr-title {
        font-size: 36px !important;
        line-height: 1.2em;
    }

    .banner-section p {
        font-size: 26px;
    }

    .banner-section {
        height: calc(100vh - 40vh);
        padding: 50px 15px;
    }

    .banner-section::before {
        height: calc(100vh - 40vh);
    }

    .services-block h3 {
        font-size: 28px;
        padding-bottom: 14px;
        margin-bottom: 6%;
    }

    .services-block h3 {
        text-align: center;
        width: 100%;
    }

    .services-block {
        flex-wrap: wrap;
        margin: 10% 0;
        box-shadow: 0px 0px 10px 1px #d4d4d4;
    }

    .services-post {
        flex-basis: 100%;
    }

    .services-block h3:after {
        right: 0;
        margin: 0 auto;
    }

    .services-post img {
        min-height: 216px;
        max-height: 216px;
    }

    .services-block {
        top: 0;
        margin: 10% 0;
    }

    .most-popular-block .title {
        font-size: 28px !important;
    }

    .static-post-img {
        flex-basis: auto;
        border-radius: 6px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        min-width: 170px;
        max-width: 170px;
        max-height: 170px;
        min-height: 170px;
        overflow: hidden;
        border-radius: 6px;
    }

    .static-post-img img {
        object-fit: cover;
        width: 200px;
        height: 177px;
    }

    .mobile-btns {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .mobile-btns a {
        font-size: 13px;
    }

    .ast-mobile-header-wrap .ast-button-wrap .menu-toggle.main-header-menu-toggle {
        border: 1px solid var(--blue);
        border-radius: 4px;
    }

    .single-team-member.col-md-3 {
        display: none;
    }

    .logo {
        margin-bottom: 1% 0;
        max-width: 40%;
    }

    footer .py-5 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    /*----- about-page -----*/
    .inner-bnr {
        max-height: 150px;
        min-height: 150px;
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 50px;
    }

    .inner-bnr .page-title h3 {
        font-size: 42px;
    }

    .inner-bnr .bnr-simg {
        display: none;
    }

    .image-group {
        margin-bottom: 23%;
    }

    .image-group img:last-child {
        top: 60px;
        right: 0;
    }

    .track-record-section {
        padding: 10px 0;
    }

    .single-team-mem-content {
        gap: 15px;
        flex-wrap: wrap;
    }

    .single-team-mem-content .-single-member-image {
        flex-basis: 100%;
    }

    .single-member-info {
        flex-basis: 100%;
    }

    /*---- /about-page -----*/
}

/*================================= /media-queries ==================================*/